<template>
  <div class="home">
    
    

    <div class="card">
            <div class="card-content">
              <h5>Miguel Franz Jallaza Castro</h5>
    
            </div>
        </div>

  </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'HomeView',
  components: {
  }
}
</script>
